.ico {
  vertical-align: top;
  float: left;
  margin-right: 20px;
}

.signup {
	background-color: #eee; 
	border-radius: 10px; 
	padding: 10px
}

.positioning-statement {
	font-size: 1.1em; 
	line-height: 1.5em; 
	padding: 10px
}

/* Author profiles
---------------------------------------------------- */

.author-profile img {
  border-radius: 12px;
  margin-bottom: 10px;
}

.author-profile p {
  color: #918D8D;
  font-size: 14px;
  line-height: 20px;
}