
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="signup">	
	
   <form ng-controller="ContactController as contactCtrl" ng-submit="contactCtrl.submitContact(contact)" novalidate>
   
      <div class="mc-field-group">
         <label for="cf-email">Email: </label>
         <input ng-model="contact.email" id="cf-email"></input>
      </div>
      
      <div class="mc-field-group">
         <label for="cf-name">Name: </label>
         <input ng-model="contact.name" id="cf-name"></input>
      </div>
      
      <div class="mc-field-group">
         <label for="cf-title">Title: </label>
         <input ng-model="contact.title" id="cf-title"></input>
      </div>
      
      <div class="mc-field-group">
         <label for="cf-org">Organization: </label>
         <input ng-model="contact.organization" id="cf-org"></input>
      </div>
      
      <div class="mc-field-group">
         <label for="cf-comments">Comments: </label>
         <input ng-model="contact.comments" id="cf-comments"></input>
      </div>
      
      <div style="position: absolute; left: -5000px;">
         <input ng-model="contacts.bot_catcher" type="text" tabindex="-1" value="">
      </div>
      
      <div class="clear">
         <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
      
   </form>

</div>

