@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


#main {
	font-size: 1.2em;
	line-height: 150%;	
	font-family: 'Open Sans', sans-serif;
	line-height: 120%;
}

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

pre code {
  padding: 0px;
  color: inherit;
  white-space: nowrap;
  background-color: transparent;
  border-width: 0px; 
}

.drop {
    padding: 10px;
	color: #93464d
}

.blue {
  background-color: #00adef;
  padding: 3px;
}

.navbar {
  background-color: #00adef;
}

.navbar .brand {
  padding-right: 10px; 
}

.navbar .title {
  float: left;
  display: block;
  padding: 10px 20px 10px 0px; 
}

.navbar .nav > li:nth-child(even) > a,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: #00adef; }

.navbar .nav > li {
  border-left: 1px solid #63D1F4; 
}

.navbar .nav > li:last-child {
  border-right: 1px solid #63D1F4; 
}

nav[data-type="toc"] ol li ol {
  display: none;
}

div.navigation {
  margin-top: 30px;
  overflow: auto;
  width: 100%;
}

div.navigation ul {
  padding-left: 0;
}

div.navigation ul li {
  display: inline-block;
  padding: 7px;
}

div.navigation ul li.prev:before {
  content: "< ";
}

div.navigation ul li.next:after {
  content: " >";
}

div.navigation ul li.prev {
  float: left;
}

div.navigation ul li.next {
  float: right;
}

.booktitle img {
  width: 600px;
  height: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.lede {
  font-size: 1.1em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.lede p {
  margin-bottom: 0;
}

.bluetop {
  border-top: 2px solid #00adef;
}

img.toc {
  width: 100px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
    -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
}

.featured img {
  height: 130px;
  width: auto;
  -webkit-box-shadow:0 0 2px 0 #808080;
  box-shadow:0 0 2px 0 #808080;
}

p.supplemental {
  font-size: 0.8em;
  margin-top: 0;
}

.logo.logo-white {
  background-image: url("logo-white.svg"); 
  height: 16px;
  width: 85px;
}

.logo.logo-white-titleonly {
  background-image: url("logo-white-titleonly.svg"); 
  height: 16px;
  width: 220px;
}

div.booklink {
  text-align: center;
}

div.booklink img {
  max-height: 120px;
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
  margin: 10px 0 10px 0;
}

pre {
  margin-left: 30px;
}

div[data-type="note"], div.navigation li {
  background-color: #F0F8FF;
  border-radius: 5px;
    -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
  border: 1px solid #63D1F4;
  padding: 1px 10px;
  margin: 30px 0;
}

@media (min-width: 768px) and (max-width: 979px) {
  
}

@media (max-width: 767px) {

  .titlepage {
    background-size: 100% auto;
    width: 100%;
    height: 100px;
  }
}