/* customized TOC for shorter content */
nav[data-type="toc"] li[data-type="chapter"],
nav[data-type="toc"] li[data-type="preface"],
nav[data-type="toc"] li[data-type="appendix"],
nav[data-type="toc"] li[data-type="glossary"],
nav[data-type="toc"] li[data-type="index"]
/*nav[data-type="toc"] ul li.preface.afterword*/ {
  padding-right: 0.25in; /* long chapter names */
}

/* hide "Chapter" in TOC, etc. */
nav[data-type="toc"] li[data-type="chapter"]:before {
  content: none;
}

nav[data-type="toc"] li[data-type="appendix"]::marker {
  content: none;
}

/* customize footers for shorter content */
@page chapter:left {
  @bottom-left {
    content: counter(page)"\2003\007C\2003"string(ChapterTitle);
  }
}

@page chapter:right {
  @bottom-right {
    content: string(SectionTitle)"\2003\007C\2003"counter(page);
  }
}
