/* customized TOC for shorter content */
nav[data-type="toc"] li[data-type="chapter"],
nav[data-type="toc"] li[data-type="preface"],
nav[data-type="toc"] li[data-type="appendix"],
nav[data-type="toc"] li[data-type="glossary"],
nav[data-type="toc"] li[data-type="index"]
/*nav[data-type="toc"] ul li.preface.afterword*/ {
  padding-right: 0.25in; /* long chapter names */
}

/* hide "Chapter" in TOC, etc. */
nav[data-type="toc"] li[data-type="chapter"]:before {
  content: none;
}

nav[data-type="toc"] li[data-type="appendix"]::marker {
  content: none;
}

/* customize footers for shorter content */
@page chapter:left {
  @bottom-left {
    content: counter(page)"\2003\007C\2003"string(ChapterTitle);
  }
}

@page chapter:right {
  @bottom-right {
    content: string(SectionTitle)"\2003\007C\2003"counter(page);
  }
}

/* customize chapter/appendix openers to match toc */
section[data-type="chapter"] > h1:before {
  content: none;
}

section[data-type="appendix"] > h1:before {
  content: none;
}

/* reset first chapter page number */
nav[data-type="toc"] + section[data-type="chapter"] { counter-reset: page 1 }

/* customize title page to fit */
section[data-type="halftitlepage"] h1,
section[data-type="titlepage"] h1 {
  
  font-size: 20pt; /* Animal Books @ 31.5, ~ 2.15 / 2.8 Ratio */
  
}

/* Add Extra 1/4" trim for spiral binding */
/*Only use this for Print PDF version to be spiral bound*/
/* @page { size: 4.5in 7in }
@page :left { margin-right: 0.75in }
@page :right { margin-left: 0.75in }
*/
