
section[data-type="titlepage"] .cover {
  position: absolute;
  right: 100%;
  bottom: .08em;
  padding: .5em .1in 0 .4em;
  margin-right: .2in;
  background: red;
  text-align: right;
  color: white;
  font-size: 72pt;
  line-height: .5;
  font-weight: bold;
  border-radius: .5em .5em 0;
  page-break-after: always;
}

